:root {
    --margin-large: 20px;
    --margin-medium: 10px;
    --margin-small: 5px;

    --padding: 20px;

    --grid-gap-large: 20px;
    --grid-gap-medium: 15px;
    --grid-gap-small: 10px;

    --header-bg: #F25E7A; 
    --footer-bg: #0E6973; 
    --grid-bg: #a16d97; 
    --text-color: #333333; 
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#harta-destinatii {
    width: auto;    
    height: auto;   
    max-width: none; 
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

header {
    background-color: var(--header-bg);
    padding: var(--padding);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

footer {
    background-color: var(--footer-bg);
    padding: var(--padding);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

main {
    padding: var(--margin-large);
}

